body{
    background-color: #091921 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}


.resualts{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 300px;
    width: 200px;
    box-shadow: 0 1px 5px gray,
    inset 0 -15px 15px rgba(254, 55, 55, 0.05),
    0 15px 15px rgba(238, 40, 40, 0.05),
    inset 0 15px 15px rgba(233, 31, 31, 0.05);

} 



.animals{
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 70px ;
}


/* Creating an ampty place for later when we bring the datas from the API */
.card img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: rgb(60, 60, 60);
    border: 0;
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button:active{
    transform: scale(0.98);
}
button:focus{
    outline: none;
}
